.home{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__text-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{
            color: var(--yellow-theme-main-color);
            margin: 0px;
            font-weight: 500;
            font-size: 8rem;
            line-height: 10rem;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            animation: typingEffectAnimation 2s steps(120,end);
        }
        &__contact-me{
            display: flex;
            justify-content: center;
            margin-top: 15px;

        
        }
    }
  

}

@media only screen and (max-width : 550px){
   .home__text-wrapper h1{
    font-size: 3rem;
    line-height: 5rem;
    
   }
}
@media only screen and (min-width : 551px )and (max-width : 768px){
    .home__text-wrapper h1{
        font-size: 4rem;
        line-height: 6rem;
       }
    
}
@media only screen and (min-width : 769px )and (max-width : 990){
    .home__text-wrapper h1{
        font-size: 6rem;
        line-height: 8rem;
       }
    
}

@keyframes typingEffectAnimation {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
    
}

.home__contact-me__button{
    margin-top: 15px;
    padding: 15px 70px;
    background: transparent;
    border: var(--yellow-theme-main-color) solid 1px;
    color: var(--yellow-theme-main-color);
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;

    &:hover{
        background-color: var(--yellow-theme-main-color);
        color: black;
    }

}
.contact{
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    margin-top: 100px;
    &__text{
        color: var(--yellow-theme-main-color);
        font-size: 15px;
        margin: 5px;
    }
}